<!DOCTYPE html>
<html 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{base}">
<head>
<meta charset="UTF-8">
<title>Cadastro de Linguagens</title>
</head>
<body>
	<div layout:fragment="content">
		<form method="POST" th:action="@{/linguagem/novo}" th:object="${linguagem}">
			<input type="hidden" th:field="*{id}" /> 
			<div class="form-group">
				<label>Nome:</label> 
				<input class="form-control" type="text" name="nome" id="nome" th:field="*{nome}" />
			</div> 
			<input class="btn btn-primary" type="submit" />
		</form>
	</div>
</body>
</html>

