<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layout}">
<head>

<meta charset="UTF-8" />
<title>Cadastro de Imoveis</title>
</head>
<body>
	<section layout:fragment="conteudo">

		<form class="form-horizontal" method="POST" action="/home/imovel"
			th:object="${imovel}">
			<div layout:insert="MensagemGeral"></div>
			<div layout:insert="MensagemErro"></div>

			<div class="card-body">
				<input type="hidden" th:field="*{codigo}" />
				<div class="container col-8">
					<div class="row mb-3">
						<div class="card-header text-center col-12">
							<b>Novo Imóvel</b>
						</div>

					</div>

					<div class="editar">

						<div class="row mb-3">
							<label for="negocio" class="col-sm-2 col-form-label">Negócio</label>
							<div class="col-sm-4">
								<select class="form-control" th:field="*{negocio.codigo}">
									<option th:each="negocio : ${negocios}"
										th:value="${negocio.codigo}" th:text="${negocio.tipo}"></option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
							<label for="categoria" class="col-sm-2 col-form-label">Categoria</label>
							<div class="col-sm-4">
								<select class="form-control" th:field="*{categoria.codigo}">
									<option th:each="categoria : ${categorias}"
										th:value="${categoria.codigo}" th:text="${categoria.tipo}"></option>
								</select>
							</div>
						</div>

						<div class="row mb-3">
							<label for="state" class="col-sm-2 col-form-label">Estado</label>
							<div class="col-sm-4">
								<select class="form-control" th:field="*{estado.codigo}">
									<option th:each="estado : ${estados}"
										th:value="${estado.codigo}" th:text="${estado.state}"></option>
								</select>
							</div>
						</div>

						<div class="row mb-3">
							<label for="quarto" class="col-sm-2 col-form-label">Quarto</label>
							<div class="col-sm-4">
								<select class="form-control" th:field="*{quarto.codigo}">
									<option th:each="quarto : ${quartos}"
										th:value="${quarto.codigo}" th:text="${quarto.qntd}"></option>
								</select>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">Salvar</button>
							</div>
						</div>
					</div>

					<div class="card card-default">
						<div class="card-header">
							<div class="crearfix">
								<h1 class="card-title stretched-titulo">Lista de Imóveis</h1>

							</div>
						</div>



						<div class="table-responsive">
							<table class="table table-bordered table-striped ">
								<thead>
									<tr>
										<th class="text-center" scope="col">Código</th>
										<th class="text-center" scope="col">Negócio</th>
										<th class="text-center" scope="col">Categoria</th>
										<th class="text-center" scope="col">Estado</th>
										<th class="text-center" scope="col">Quarto</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="imovel : ${imoveis}">
										<td class="text-center" th:text="${imovel.codigo}"></td>
										<td class="text-center" th:text="${imovel.negocio.tipo}"></td>
										<td class="text-center" th:text="${imovel.categoria.tipo}"></td>
										<td class="text-center" th:text="${imovel.estado.state}"></td>
										<td class="text-center" th:text="${imovel.quarto.qntd}"></td>
										<td class="text-center"><a class="btn btn-primary"
											th:href="@{/home/imovel/novoimovel/{codigo}(codigo=${imovel.codigo})}"
											rel="tooltip" data-placement="top" title="Editar"
											th:field="*{codigo}"> <img
												src="/images/pencil-square.svg" height="15">
										</a> <a class="btn btn-danger" data-toggle="modal"
											data-target="#confirmacaoExclusaoImovel"
											th:attr="data-codigo=${imovel.codigo}" rel="tooltip"
											data-placement="top" title="Excluir"> <img
												src="/images/trash-fill.svg" height="15">
										</a></td>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div layout:insert="Imoveis/ExclusaoImovel"></div>
	</section>
</body>
</html>