<!DOCTYPE html>
<html 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{base}">
<head>
<meta charset="UTF-8">
<title>Tela de Cadastro</title>
</head>
<body>
	<div layout:fragment="content">
		<form method="POST" th:action="@{/starter/novo}" th:object="${starter}">
			<input type="hidden" th:field="*{id}" /> 
			<div class="form-group">
				<label>Nome:</label> 
				<input class="form-control" type="text" name="nome" id="nome" th:field="*{nome}" />
			</div> 
			<div class="form-group">
				<label>4 Letters:</label>
				<input type="text" class="form-control" name="fourLetters" id="fourLetters"
				th:field="*{fourLetters}" />
			</div>
			<div class="form-group">
				<label>Data de Nascimento:</label>
				<input type="text" class="form-control" name="dataNascimento"
				id="dataNascimento" th:field="*{dataNascimento}" />
			</div>
			<div class="form-group">
				<label>Data
					de Admissão:</label> 
				<input class="form-control" type="text" name="dataAdmissao" id="dataAdmissao"
					th:field="*{dataAdmissao}" />
			</div>
			<div class="form-group">
				<label>Linguagem:</label>
				<select class="form-control" id="linguagem">
					<option th:if="${starter.framework == null}"> -- </option>
					<option th:each="linguagem : ${listaLinguagens}" th:value="${linguagem.id}" th:text="${linguagem.nome}"
					th:selected="${starter.framework != null && starter.framework.linguagem.id == linguagem.id}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Framework</label>
				<select class="form-control" name="framework" id="framework">
					<option th:if="${starter.framework == null}">Selecione uma Linguagem</option>
					<option th:if="${starter.framework != null}" th:each="framework : ${listaFrameworks}" 
					th:value="${framework.id}" th:text="${framework.nome}" th:selected="${starter.framework.id == framework.id}"></option>
				</select>
			</div>

			<input class="btn btn-primary" type="submit" />
		</form>
	</div>
</body>
</html>

<script>

$( "#linguagem" ).change(function() {
 	
 	let framework = $('#framework');
 	framework.empty();
 	
 	const url = '/framework/listarPorLinguagem?idLinguagem='+$( "#linguagem" ).val();
 	
 	$.getJSON(url, function (data) { 	
	  $.each(data, function (key, objeto) {
	    framework.append($('<option></option>').attr('value', objeto.id).text(objeto.nome));
	  })
	});
 	
 	
});


</script>

