<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layout}">
<head>

<meta charset="UTF-8" />
<title>Cadastro de Estados</title>
</head>
<body>
	<section layout:fragment="conteudo">

		<form class="form-horizontal" method="POST" action="/home/estado"
			th:object="${estado}">
			<div layout:insert="MensagemGeral"></div>
			<div layout:insert="MensagemErro"></div>

			<div class="card-body">
				<input type="hidden" th:field="*{codigo}" />
				<div class="container col-8">
					<div class="row mb-3">
						<div class="card-header text-center col-12">
							<b>Novo Estado</b>
						</div>

					</div>

					<div class="editar">
						<div class="row mb-3">
							<label for="state" class="col-sm-2 col-form-label">Estado</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="state" name="state"
									th:field="*{state}"
									th:classappend="${#fields.hasErrors('state')} ? 'form-control is-invalid'">
							</div>
						</div>

						<div class="row mb-3">
							<label for="ufstate" class="col-sm-2 col-form-label">UF</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" id="ufstate"
									name="ufstate" th:field="*{ufstate}"
									th:classappend="${#fields.hasErrors('ufstate')} ? 'form-control is-invalid'">
							</div>
						</div>


						<div class="row mb-3">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">Salvar</button>
							</div>
						</div>

						<a class="btn btn-outline-primary btnPosition" role="button"
							aria-pressed="true" href="/home/municipio/novomunicipio"
							rel="tooltip" data-placement="top" title="Cadastrar Município">Município
							<img src="/images/next.svg" height="15">
						</a>

					</div>

					<!-- CÓDIGO PARA MOSTRAR AS INFORMAÇÕES -->
					<div class="card card-default">
						<div class="card-header">
							<div class="crearfix">
								<h1 class="card-title stretched-titulo">Lista de Estados</h1>
								<a class="btn btn-link" href="/home/estado/estados"
									style="position: relative;">Pesquisa de Estados</a>
							</div>
						</div>



						<div class="table-responsive">
							<table class="table table-bordered table-striped ">
								<thead>
									<tr>
										<th class="text-center" scope="col">Código</th>
										<th class="text-center" scope="col">Estado</th>
										<th class="text-center" scope="col">UF</th>

										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="estado : ${estados}">
										<td class="text-center" th:text="${estado.codigo}"></td>
										<td class="text-center" th:text="${estado.state}"></td>
										<td class="text-center" th:text="${estado.ufstate}"></td>
										<td class="text-center"><a class="btn btn-primary"
											th:href="@{/home/estado/novoestado/{codigo}(codigo=${estado.codigo})}"
											rel="tooltip" data-placement="top" title="Editar"
											th:field="*{state}"> <img src="/images/pencil-square.svg"
												height="15">
										</a> <a class="btn btn-danger" data-toggle="modal"
											data-target="#confirmacaoExclusaoEstado"
											th:attr="data-codigo=${estado.codigo}, data-state=${estado.state}"
											rel="tooltip" data-placement="top" title="Excluir"> <img
												src="/images/trash-fill.svg" height="15">
										</a></td>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div layout:insert="Estados/ExclusaoEstados"></div>
	</section>
</body>
</html>