<!DOCTYPE html>
<html 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{base}">
<head>
<meta charset="UTF-8">
<title>Cadastro de Linguagens</title>
</head>
<body>
	<div layout:fragment="content">
		<form method="POST" th:action="@{/framework/novo}" th:object="${framework}">
			<input type="hidden" th:field="*{id}" /> 
			<div class="form-group">
				<label>Nome:</label> 
				<input class="form-control" type="text" th:field="*{nome}" />
			</div> 
			<div class="form-group">
				<label>Linguagem:</label>
				<select class="form-control" th:field="*{linguagem}" >
					<option th:each="linguagem : ${lista}" th:value="${linguagem.id}" th:text="${linguagem.nome}" />
				</select>
			</div>
			<input class="btn btn-primary" type="submit" />
		</form>
	</div>
</body>
</html>

